doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style(type='text/css').
      .container .col{padding:20px;margin:20px;}
      .navigate{margin:20px;}
  body
    block content