extends layout
h1 planet Residents
    #container.col
      table.tg
        tr
          th.tg-yw4l Name
          th.tg-yw4l Residents
        for item in data
          tr
            td.tg-yw4l #{item.name}
            
            td.tg-yw4l #{item.name}
